/* Container.css */
.header {
 background-color: #ADBBDA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 100%;
  font-family: "Times New Roman", Times, serif;
    text-align: center; /* Center align the text */
}


.header p {
    font-size: 16px;
    color: white; /* Dark text color for readability */
    line-height: 1.6; /* Increase line height for better readability */
    margin: 0; /* Remove default margins */
}
